body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: #bbb 1px solid;
}

.logo {
    width: 40px;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}


.nav {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
    transition: transform 0.3s, 
}


.nav li:hover {
    font-weight:bold;
    transition: scale(1.2);
    cursor: pointer;
    
}
.btn {
    padding: 6px 15px;
    border-radius: 60px;
    border: 1px solid #bbb;
    background: #fff;
    cursor: pointer;
}
.btn:hover {
    transition: scale(1.05s);
    font-weight:bold;
    border-radius: 60px;
}

.register {
    background: #000;
    color: #fff;
}
.holder{
    display:flex;
    gap:60px;
    align-items: center;
    padding:20px 40px;
    justify-content: center;
    align-items: center;
}
.room{
    width:400px;
    height: 250px;
    margin-top:30px ;
}
.text-box{
    max-width: 500px;
    margin-bottom: 30px;
}
.text-box p{
    color:rgb(109, 107, 107);
}
.preferences-box{
    border: #bbb 1px solid;
    border-radius: 10px;
    padding:20px 30px;
    margin: 20px 40px;
}
.pref-item {
    display: flex;
    gap:10px;
}
.icon {
    width:20px;
    height:20px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    font-weight:bold;
    font-size:15px;
}
.pref-list {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 20px;
    padding: 10px 10px;
}
.calender {
    width: 450px;
    height:300px;
    padding:0 350px;
    margin: 30px 0;
}
.container{
background-color: whitesmoke;
}
.div-button{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    border: 1px solid black;
}
.chat {
    border:1px solid black;
    border-radius: 8px;
   padding:5px 100px;
   font-weight: bold;
}
.chat:hover {
    cursor: pointer;
    background-color: rgb(222, 224, 224);
    transition-duration: 1s;
}
.listing{
    background-color: black;
    color: white;
    border:1px solid black;
    border-radius: 8px;
    padding:5px 100px;
    font-weight: bold;
}
.listing:hover {
    cursor: pointer;
    background-color: skyblue;
    transition-duration: 1s;
}
.footer {
   display: grid;
   grid-template-columns: repeat(4,1fr);
}
.logos {
    background-color: #f2efef;
    width: 40px;
}
.twitter, .insta, .linkdin, .youtube {
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: #f2efef;
}
