[phases.setup]
nixPkgs = [
  "php83",
  "php83Extensions.curl",
  "php83Extensions.mbstring",
  "php83Extensions.openssl",
  "php83Extensions.pdo_mysql"
]

[start]
cmd = "php -S 0.0.0.0:${PORT:-8080} -t public"
